<h1>Show To Do</h1>
<h2>To Do: <br/><%= @items.name %></h2>
<p>Description: <br/><%= @items.description %></p>
<p>Complete: <br/><%= @items.complete %></p>
<%= link_to 'Back', items_path, class: 'btn btn-danger'%>
<%= link_to 'Edit', edit_item_path, class:'btn btn-info' %>
<%= link_to 'Delete', item_path, method: :delete, class:'btn btn-danger' %>
