<h1>Items Show</h1>
<h2><%= @items.name %></h2>
<p><%= @items.description %></p>
<p><%= @items.complete %></p>
<%= link_to 'Back', items_path%>
<%= link_to 'Edit', edit_item_path %>
<%= link_to 'Delete', item_path, method: :delete %>
